



{% block content %}

{% if messages%}
<ul class="messages">
    {% for  message in messages %}
    <li {% if messages.tags %} class="{{ message.tags }}"{% endif %}>{{message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div>


				From:{{ instance.where_from }} <br>

				To:{{ instance.where_to }} <br>
				Date:{{ instance.date_travelling}} <br>
				Class:{{ instance.class_of_choice }} <br>
				Ticket(s) Number:{{ instance.travelling_persons }} <br>
				Kids:{{ instance.kids }} <br>

				<hr>
</div>



<h3>new table</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-md4">



<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
        <th>From</th>
      <th>To</th>
      <th>Date</th>
      <th>Class</th>
      <th>Tickets</th>
      <th>Kids</th>
      <th>total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ instance.where_from }}</td>
      <td> {{ instance.where_to }}  </td>
      <td> {{ instance.date_travelling}}</td>
      <td> {{ instance.class_of_choice }}</td>
      <td> {{ instance.travelling_persons }}</td>
      <td> {{ instance.kids }}</td>
      <td> Ksh1000</td>
    </tr>

  </tbody>
</table>

            <a href="{% url 'check-out:check_out' %}" class="btn btn-default">Confirm Purchase</a>

</div>
</div>
</div>



{% endblock %}